<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Node.js User Authentication</title>
  <link type="text/css" rel="stylesheet" href="../public/stylesheets/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Noticia+Text:wght@700&family=Philosopher:wght@700&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Welcome to my first Node.js app :)</h1>
    <button type="button" class="loginBtn" onclick="location.href='./login.html'">Login</button>
    <p>Not registered yet? </p>
    <a href="./register.html">Create a new account</a>
  </div>
  <!-- javascript -->
  <script type="text/javascript" src="../public/javascripts/index.js"></script>
</body>

</html>